* {
    border: 2px solid red;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
}

body {
    background: white;
}

.card {
    width: 800px;
    margin: 50px auto;
}

.home-links {
    background-color: lightcyan;
    margin: 10px auto;
}

.links {
    display: inline;
}

a {
    color: white;
    background-color: cadetblue;
}

li {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.frontlinks {
    color: black;
    background-color: transparent;
}

img {
    height: auto;
    width: 500px;
}